.footer {
	max-width: 1280px;
	margin: 92px auto 0;
	padding: 0 48px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

@media screen and (max-width: 1024px) {
	.footer {
		margin: 88px 24px 0;
		padding: 0;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		margin: 64px 16px 0;
		padding: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}